{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link href="{% static 'base/css/base.css' %}" rel="stylesheet" />
    {% block head %}{% endblock head %}
  </head>
  <body>
    <div class="container">
      <!--HEADER-->
      <header>
        <nav class="navbar navbar-dark bg-dark fixed-top">
          <div class="container-fluid">
            <img src="{% static 'base/img/user.png' %}" height="40px">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" id="open-cart-button">
              <img src="{% static 'base/img/cart-icon.svg' %}" height="30px">
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Carrinho</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                
                {% comment %} CART ITENS {% endcomment %}
                <form action="{% url 'home' %}" method="POST"> {% csrf_token %}
                {% for item in cartItems %}
                <div class="row cart-list-item">                     
                  <div class="col-md-5">
                    <img src="{{item.product.product_img.url}}" class="" height="160px" width="120px">
                  </div>             
                  <div class="col-md-7">

                    {% comment %} BUTTONS {% endcomment %}
                    <div class="d-flex">
                      <div class="mx-1" onclick="location.href = '{% url 'addition' item.product.product_id %}'">
                        <img src="{% static 'base/img/add.png' %}" height="50px" width="50px">
                      </div>
                    
                      <div class="mx-1" onclick="location.href = '{% url 'subtract' item.product.product_id %}'">
                        <img src="{% static 'base/img/minus.png' %}" height="50px" width="50px">
                      </div>
                    
                      <div class="mx-1" onclick="location.href = '{% url 'remove' item.product.product_id %}'">
                        <img src="{% static 'base/img/delete1.png' %}" height="50px" width="50px">
                      </div>
                    </div>
                    


                    <a class="nav-link" href="#">{{item}}</a>
                  </div>
                </div>
                {% endfor %}
              </ul>
                
                  {% comment %} CART ITENS END {% endcomment %}
                  {% for total in cart %}
                  <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Frete: R${{total.fee}} Subtotal: R${{total.subtotal}} Total: R${{total.total_price}}</h5>
                  {% endfor %}


                  <button type="submit" class="btn btn-light btn-lg btn-block">Continuar</button>

                </form>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <!--HEADER-->

      <main>{% block body %}{% endblock body %}</main>

      <footer id="footer" class="bg-light text-center text-lg-start" style="display: none;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      
    </div>

    <!--SCRIPT-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script>
      window.onscroll = function() {
        if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
          document.getElementById("footer").style.display = "block";
        }
      };
    </script>

    <!--SCRIPT-->
    <script>
      function openCart() {
        // Obtém o botão de toggle
        var toggleButton = document.getElementById("open-cart-button");
    
        // Dispara o evento de clique no botão de toggle
        toggleButton.click();
      }
    
      // Verifica se o parâmetro 'open_cart' está presente na URL
      var urlParams = new URLSearchParams(window.location.search);
      if (urlParams.has('open_cart')) {
        openCart();
      }
    </script>

  </body>
</html>



