{% extends 'base.html' %} {% load static %} {% block head %}

<link href="{% static 'main/css/home.css' %}" rel="stylesheet" />
{% endblock head %} {% block body %}


    <div class="d-flex justify-content-center">
      <div style="width: 50vw;">
        <h1 class="h1">Olá, Sr(a) {{user.username}}</h1>
        <p class="h6">Usuário: {{user.username}}</p>
        <p class="h6">Email: {{user.email}}</p>
        <p class="h6">Endereços registrados: {% for address in addresses %}
          {{address}}
          {% endfor %}</p>
        <p class="h6">Cartões registrados: {% for card in cards %}
            {{card}}
          {% endfor %}</p>
        <h2>Meus pedidos</h2>
        {% for cart in cart %}
        <h3>#{{cart.id}}</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Produto</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Preço</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cartItems %}
            <tr>
              <th scope="row">{{item.product}}</th>
              <td>{{item.quantity}}</td>
              <td>R${{item.price}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <h6>Subtotal: R${{cart.subtotal}}+ Frete: R${{cart.fee}}= Total: R${{cart}}</h6>
        {% endfor %}

      </div>
    </div>

    {% endblock body %}